
/*Calling Fonts*/
    @font-face {
        font-family: 'Satoshi-Black';
        src: url('font/Satoshi-Black.otf') format('opentype');
    }

        @font-face {
        font-family: 'Satoshi-Bold';
        src: url('font/Satoshi-Bold.otf') format('opentype');
    }


        @font-face {
        font-family: 'Satoshi-Regular';
        src: url('font/Satoshi-Regular.otf') format('opentype');
    }

            @font-face {
        font-family: 'Satoshi-Medium';
        src: url('font/Satoshi-Medium.otf') format('opentype');
    }

    @font-face {
        font-family: 'Satoshi-Light';
        src: url('font/Satoshi-Light.otf') format('opentype');
    }
    /*Calling Fonts*/


html, body { font-family: Satoshi-Regular; }

ul li a{color: black; font-weight: bold; text-decoration: none; padding-top: 20px; display: block;}
ul li a:hover{color: black;  text-decoration: none; }

a{color: black; font-weight: bold; text-decoration: none;  display: block;}
 a:hover{color: black;  text-decoration: none; }
.sidebar ul{list-style-type: none;}
ul{list-style-type: none;}

 .model{position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0, 0, 0, .5);}
 .m-content{background: #fff; position: absolute; padding: 10px; border-radius: 5px;top: 50%;left: 50%;
  transform: translate(-50%, -50%);
}

.links li a{ font-weight: lighter; padding-left: 20px; padding-right: 20px;   color: grey;}
.links li {  padding-left: 11px; padding-right: 11px; }
.tabil th, td{font-size: 13px; text-align: center;}
.rounds{max-width: 60%; border-radius: 10px;}
.border td{}
 .borders:hover{background: #3a3838;}

 .small_div {background: #e3e3e3;}
 .bar{background: green;}
 .bar2{background: white;}
 .chart-header{background: green;}
 .chart-header th{font-size: 12px; font-weight: 600; font-family: system-ui;}
 .chart-tr td{overflow: hidden;}
 .content_bg {background: #141414;}
 #stripBtn{
 	background: #333333;
 	border-radius: 35px;
 }

 .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    .left: 0;
    .top: 0;
    opacity: 0;
}

#navbarNav ul li a{color:black;}
.primary{background: #57B660;}
.black{color:black;}
.radius_img{border-radius: 7px;}
.bolder{ font-family: Satoshi-Bold; }





.slick-slider {
  width: 100%;
  background-color: transparent;
  .slick-track {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 200px;
    justify-content: center;
  }
  .slick-slide{
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0px;
    margin: 0;
    background-color: #fff5d0d6;
    transition: all 0.3s ease;
    height: auto;
    text-align: center;
    &.slick-current,
    &.slick-center {
      background:linear-gradient(45deg, rgb(184 172 172 / 38%), rgb(146 136 143 / 26%));
      padding: 20px 0px;
      //margin: 50px 0px;
      border-radius: 8px;
    }
  }
}

.slick-prev,
.slick-next {
  z-index:10;  
  top: 0px;
  background-color: transparent;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}.slick-list-draggable{margin: 0;padding:0;}
/*Slider*/

.slide_img{ height: 145px; width: 88%;}